body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  /* background-color: rgb(71, 255, 129); */
}


main {
  flex: 1 0 auto;
}

.card {
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-style {
  color: black;
  padding: 5px;
  font-size: large;
  margin: 5px;
}

label {
  color: black;
  font-size: large;
}

.btn-large {
  margin-top: 10px;
}

::placeholder { 
  color: black;
}

h3 {
  margin-left: 15px;
}