@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');


:root {
  --clr-accent--100: #f8fff8;
  --clr-accent--200: #f0fdf0;
  --clr-accent--500: #a5d6a7;
  --clr-accent--800: #3ba44f;
  --clr-accent--900: #2f883f;
  --clr-text--100: #ffffff;
  --clr-text--200: #e7e7e7;
  --clr-text--300: #898989;
  --clr-text--500: #363636;
  --clr-text--900: #191919;
  --fs: calc(60% + 0.8vmin);
  --ff-primary: 'Lato', sans-serif;
  --br: 0.5em;

  --br-btn: 0.2em;
  --br--links: 0.2em;
  --br-buttons: 0.2em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: var(--fs);
  font-family: var(--ff-primary);
  color: var(--clr-text--900);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.btn {
  border-radius: var(--br-buttons) !important;
  font-weight: 900;
}

.btn:hover {
  background-color: var(--clr-accent--900) !important;
  color: var(--clr-text--100) !important;
}

main {
  flex: 1 0 auto;
}

/* Navbar classes */

.logo__image {
  display: block;
  height: 100%;
  margin-left: 2rem;
}

.logo__image img {
  object-fit: contain;
  height: 100%;
}

.sub-title li {
  margin-left: 8rem;
}

.card {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: var(--br);
}

form {
  display: flex;
  flex-direction: column;
}


.block__input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: start;
  width: 80%;
}

.block__input select,
.block__currency--input,
.block__money--input {
  width: 100% !important;
  border-radius: var(--br) !important;
  background-color: var(--clr-text--200) !important;
}

.block__currency--input {
  border: none;
  font-weight: 900;
}

.block__currency--input:not(:placeholder-shown) {
  color: var(--clr-accent--800);
  text-align: center;
}

.block__money--input {
  padding-left: 1% !important;
  max-width: 99% !important;
}

.block__money--input::placeholder {
  color: var(--clr-text--300);
  padding-left: 1em;
}

.block__money--input:not(:placeholder-shown) {
  padding-left: 1em;
}

/* style .block__currency--input if disabled */
.block__currency--input:disabled {
  background-color: #c9f5c9 !important;
  text-align: center;
}

.label-style,
.block__currency--title {
  color: black;
  padding: 5px;
  font-size: large;
  margin: 5px;
}

label,
.block__currency--title {
  font-size: large;
}

.btn-large {
  margin-top: 10px;
}

::placeholder {
  color: black;
}

h3 {
  margin-left: 15px;
}

/* Grid Content */

.grid-margin-top {
  margin-top: 3rem;
}

.image-margin-top {
  margin-top: 25px;
}

.bottom-grid-margin-top {
  margin-top: 6rem;
}

.center-align {
  margin-top: 2.5rem;
}

.sightseeing__cards--title {
  margin-top: 0 !important;
}

.go-somewhere-btn {
  margin-top: 10px;
}

.loader-margin-bottom {
  margin-bottom: 4rem;
}